forecast-blog-stepfunctions-statemachine.json
{
  "StartAt": "Glue Transform JobRun",
  "States": {
    "Glue Transform JobRun": {
      "Type": "Task",
      "Resource": "arn:aws:states:::glue:startJobRun",
      "Parameters": {
        "JobName": "forecast-blog-transform-data"
      },
      "ResultPath": "$.JobRunId",
      "Next": "wait_for_job"
    },
    "wait_for_job": {
      "Type": "Wait",
      "Seconds": 60,
      "Next": "GetJobStatus"
  },
    "GetJobStatus": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-west-2:650222655237:function:forecast-blog-check-gluejob-status",
      "ResultPath": "$.CheckStatus",
      "Next": "Loop - Job Import Check"
  },
     "Loop - Job Import Check": {
       "Type": "Choice",
         "Choices": [
          {
            "Not": {
              "Variable": "$.CheckStatus",
              "StringEquals": "SUCCEEDED"
            },
            "Next": "wait_for_job"
          },
          {
            "Variable": "$.CheckStatus",
            "StringEquals": "FAILED",
            "Next": "Fail"
          },
          {
            "Variable": "$.CheckStatus",
            "StringEquals": "TIMEOUT",
            "Next": "Fail"
          }                          
        ],
        "Default": "ImportDataSet"
      },        
    "ImportDataSet": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-west-2:650222655237:function:forecast-blog-import-dataset",
      "ResultPath": "$.ImportJob",
      "Next": "wait_for_import"
    },
    "wait_for_import": {
      "Type": "Wait",
      "Seconds": 20,
      "Next": "GetImportStatus"
  },
    "GetImportStatus": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-west-2:650222655237:function:forecast-blog-check-import-status",
      "ResultPath": "$.CheckStatus",
      "Next": "Loop - Data Import Check"
  },
     "Loop - Data Import Check": {
       "Type": "Choice",
         "Choices": [
          {
            "Not": {
              "Variable": "$.CheckStatus",
              "StringEquals": "ACTIVE"
            },
            "Next": "wait_for_import"
          },
          {
            "Variable": "$.CheckStatus",
            "StringEquals": "CREATE_FAILED",
            "Next": "Fail"
          }           
        ],
        "Default": "TrainPredictor"
      },
    "TrainPredictor": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-west-2:650222655237:function:forecast-blog-create-predictor",
      "ResultPath": "$.PredictorJobArn",
      "Next": "wait_for_predictor"
    },
    "wait_for_predictor": {
      "Type": "Wait",
      "Seconds": 20,
      "Next": "GetPredictorStatus"
  },
    "GetPredictorStatus": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-west-2:650222655237:function:forecast-blog-check-predictor-status",
      "ResultPath": "$.CheckStatus",
      "Next": "Loop - Predictor Check"
  },
     "Loop - Predictor Check": {
       "Type": "Choice",
         "Choices": [
          {
            "Not": {
              "Variable": "$.CheckStatus",
              "StringEquals": "ACTIVE"
            },
            "Next": "wait_for_predictor"
          },
          {
            "Variable": "$.CheckStatus",
            "StringEquals": "CREATE_FAILED",
            "Next": "Fail"
          }
        ],
        "Default": "CreateForecast"
      },
      "CreateForecast": {
          "Type": "Task",
          "Resource": "arn:aws:lambda:us-west-2:650222655237:function:forecast-blog-create-forecast",
          "ResultPath": "$.ForecastJobArn",
          "Next": "wait_for_forecast"
        },
        "wait_for_forecast": {
          "Type": "Wait",
          "Seconds": 20,
          "Next": "GetForecastStatus"
      },
        "GetForecastStatus": {
          "Type": "Task",
          "Resource": "arn:aws:lambda:us-west-2:650222655237:function:forecast-blog-check-forecast-status",
          "ResultPath": "$.CheckStatus",
          "Next": "Loop - Forecast Check"
      },
         "Loop - Forecast Check": {
           "Type": "Choice",
             "Choices": [
              {
                "Not": {
                  "Variable": "$.CheckStatus",
                  "StringEquals": "ACTIVE"
                },
                "Next": "wait_for_forecast"
              },
              {
                "Variable": "$.CheckStatus",
                "StringEquals": "CREATE_FAILED",
                "Next": "Fail"
              }
            ],
            "Default": "ExportForecast"
          },
          "ExportForecast": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:us-west-2:650222655237:function:forecast-blog-export-forecast",
              "ResultPath": "$.ForecastExportArn",
              "Next": "Succeed"
            },        
    "Succeed": {
      "Type": "Succeed"
      },
    "Fail": {
      "Type": "Fail",
      "Cause": "$.CheckStatus"
    }
  }
}